* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100vw;
}

.App {
  font-family: arial, sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
  max-width: 100vw;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  padding: 1rem;
}
